<!DOCTYPE html>
<html ng-app="ruzsa">

<head>
<meta charset="UTF-8">

<!-- Dependencies -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-tree-repeat/dist/angular-tree-repeat.js"></script>
<script src="node_modules/formula-parser/dist/formula-parser.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/tree.css">
<script src="js/jquery.input-autoresize.js"></script>

<!-- Own stuff -->
<script src="js/equi.js"></script>
<script src="js/compareObjects.js"></script>
<script src="js/clone.js"></script>
<script src="js/wff.js"></script>
<script src="js/traverse.js"></script>
<script src="js/compareFormulaTrees.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="shortcut icon" href="img/favicon.png">
<title>Ruzsa</title>
</head>

<body ng-controller="treeController">
<md-toolbar md-whiteframe="4" class="toolbar">
    <div class="md-toolbar-tools">
        <img src="img/ruzsa-logo.png" height="20" class="logo"></img>
        <div id="action_bar">
            <md-button ng-disabled="true">Open</md-button>
            <md-button ng-disabled="true">Save</md-button>
            <md-button ng-disabled="!stepInProgress"
                       ng-click="checkStep()">
                Check step
            </md-button>
            <md-button ng-disabled="!stepInProgress"
                       ng-click="cancelStep()">
                Cancel step
            </md-button>
        </div>
        <span flex></span>
        <a href="https://github.com/tbitai/ruzsa/issues">
            <img src="img/icons/GitHub-Mark-Light-32px.png" height="26" id="github-link"></img>
        </a>
    </div>
</md-toolbar>
<div class="toolbar-placeholder"></div>

<md-content class="content">
<div class="tree">
<script>
    function makeActive(el) {
        $('.active_input').removeClass('active_input');
        $(el).addClass('active_input');
    }
</script>
<ul>
    <li sf-treepeat="node in children of treeData">
        <div ng-switch="node.underEdit"
             class="node">
            <form ng-switch-when="true"
                  ng-submit="submit(node)">
                <md-input-container>
                    <input type="text"
                           aria-label="Input"
                           ng-class="{formula_input: true,
                                      in_focus_q: node.inFocusQ}"
                           ng-model="node.input"
                           onfocus="makeActive(this)"
                           oninput="checkCommaAndParenthesis(this)"
                           data-ruzsa-focus-order="{{node.focusOrder}}">
                    <div ng-messages="node.error" role="alert" md-auto-hide="false">
                        <div ng-message="unmatchedParenthesis">Unmatched parenthesis!</div>
                        <div ng-message="other">Not a sentence!</div>
                    </div>
                </md-input-container>
            </form>
            <md-fab-speed-dial ng-switch-default
                               class="step_speed_dial"
                               md-direction="right"
                               ng-mouseenter="node.hovered = true"
                               ng-mouseleave="node.hovered = false">
                <md-fab-trigger>
                    <div ng-click="node.editable ? setUnderEdit(node) : {}"
                         ng-class="{formula: true,
                                    candidate: node.candidate,
                                    highlighted: node.underBreakingDown}">
                        {{node.formula.unicode}}
                    </div>
                </md-fab-trigger>
                <div class="step_btns_positioner">
                <md-fab-actions ng-show="node.breakable && node.hovered"
                                class="step_btns">
                    <md-button class="md-fab md-mini step_btn"
                               ng-click="addCandidates('or', node)"
                               aria-label="Branch">
                        <md-icon md-svg-src="img/icons/or.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini step_btn"
                               ng-click="addCandidates('and', node)"
                               aria-label="Add two nodes">
                        <md-icon md-svg-src="img/icons/and.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini step_btn"
                               ng-click="addCandidates('equi', node)"
                               aria-label="Branch and add two nodes for each branch">
                        <md-icon md-svg-src="img/icons/equi.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini step_btn"
                               ng-click="addCandidates('double_not', node)"
                               aria-label="Add one node">
                        <md-icon md-svg-src="img/icons/double_not.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
                </div>
            </md-fab-speed-dial>
        </div>
        <ul ng-class="{continuation_candidate: node.underContinuation}">
            <li sf-treecurse></li>
        </ul>
    </li>
</ul>
</div>
<div id="virtual_keyboard" md-whiteframe="4">
    <script>
        function setCursorPosition(el, pos) {
            el.setSelectionRange(pos, pos);
        }
        function fireVirtualKey(keyStr, cursorPos) {
            var i = document.getElementsByClassName('active_input')[0];
            if (i !== undefined) {
                var p = i.selectionStart;
                var v = i.value;
                var before = v.slice(0, p);
                var after =  v.slice(p);
                i.value = before + keyStr + after;

                // Trigger input event for inputAutoresize
                $(i).trigger('input');

                var l = i.value.length;
                var defaultPos = l - after.length;
                setCursorPosition(i, defaultPos);
                i.focus();
                if (cursorPos !== undefined) {
                    setCursorPosition(i, defaultPos + cursorPos);
                }
            }
        }
        function checkCommaAndParenthesis(el) {
            var p = el.selectionStart;
            var c = el.value[p];
            if (c == ',') {
                setCursorPosition(el, p + 2);
            } else if (c == ')') {
                setCursorPosition(el, p + 1);
            }
        }
    </script>
    <div id="connective_btns">
        <md-button class="md-raised connective_btn"
                   onclick="fireVirtualKey(' ∨ ')"
                   aria-label="or">∨</md-button>
        <md-button class="md-raised connective_btn"
                   onclick="fireVirtualKey(' ∧ ')"
                   aria-label="and">∧</md-button>
        <md-button class="md-raised connective_btn"
                   onclick="fireVirtualKey('¬')"
                   aria-label="not">¬</md-button>
        <md-button class="md-raised connective_btn"
                   onclick="fireVirtualKey(' → ')"
                   aria-label="implies">→</md-button>
        <md-button class="md-raised connective_btn"
                   onclick="fireVirtualKey(' ↔ ')"
                   aria-label="equivalent">↔</md-button>
    </div>
    <table>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Tet()', -1)">Tet</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Small()', -1)">Small</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Smaller(, )', -3)">Smaller</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Cube()', -1)">Cube</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Medium()', -1)">Medium</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameSize(, )', -3)">SameSize</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Dodec()', -1)">Dodec</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Large()', -1)">Large</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Larger(, )', -3)">Larger</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Adjoins(, )', -3)">Adjoins</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('BackOf(, )', -3)">BackOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameShape(, )', -3)">SameShape</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('LeftOf(, )', -3)">LeftOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Between(, , )', -5)">Between</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('RightOf(, )', -3)">RightOf</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameCol(, )', -3)">SameCol</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('FrontOf(, )', -3)">FrontOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameRow(, )', -3)">SameRow</md-button>
            </td>
        </tr>
    </table>
</div>
<md-button class="md-fab plus_btn"
           ng-click="addLeaves()"
           aria-label="Add">
    <md-icon md-svg-src="img/icons/ic_add_black_24px.svg"></md-icon>
</md-button>
</md-content>

<!-- Piwik -->
<script type="text/javascript">
  if (location.hostname !== 'localhost') {
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.tbitai.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
  }
</script>
<!-- Don't track non-JS visits.
    <noscript><p><img src="//piwik.tbitai.me/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
-->
<!-- End Piwik Code -->
</body>

</html>
