=width($kw)
  @if $kw == max-content
    width: intrinsic
    width: -moz-max-content
    width: -webkit-max-content

$vkb_width: 341px

.tree
  margin-left: auto
  margin-right: auto
  +width(max-content)
  padding-right: $vkb_width

.toolbar
  position: fixed

$toolbar_height: 60px
$toolbar_shadow_height: 4px

.toolbar-placeholder
  height: $toolbar_height + $toolbar_shadow_height

.plus_btn
  position: fixed
  bottom: 20px
  right: 10px

.logo
  margin-right: 30px

$formula_margin-top-bottom: 7px

.content
  padding-top: 20px - $formula_margin-top-bottom

#virtual_keyboard
  position: fixed
  top: $toolbar_height + $toolbar_shadow_height + 30px
  right: 18px

  $padding-top-bottom: 8px
  padding-top:    $padding-top-bottom
  padding-bottom: $padding-top-bottom

  $padding-left-right: 5px
  padding-left:  $padding-left-right
  padding-right: $padding-left-right

.connective_btn
  min-width: 43px

.tarski_symbol_btn
  text-transform: none

#connective_btns
  // Adjust left margin w/ table content
  margin-left: 3px

.formula
  margin-bottom: $formula_margin-top-bottom
  margin-top:    $formula_margin-top-bottom
