=width($kw)
  @if $kw == max-content
    width: intrinsic
    width: -moz-max-content
    width: -webkit-max-content

=border-radius($r)
  border-radius: $r
  -webkit-border-radius: $r
  -moz-border-radius: $r

$vkb_width: 341px
$candidate_color: #cccccc

// Fix superfluous lines from leaves -- CSS part
.tree .empty_ul::before
  display: none

.tree
  margin-left: auto
  margin-right: auto
  +width(max-content)
  padding-right: $vkb_width

  // Line style of continuation candidate subtrees
  ul.continuation_candidate
    $b: 1px solid $candidate_color
    li
      &::before
        border-top:   $b
      &::after
        border-top:   $b
        border-left:  $b
      &:last-child::before
        border-right: $b
    ul::before
      border-left:    $b
    &::before
      border-left:    $b

.toolbar
  position: fixed

  // Adjust right padding with content and left padding with right padding
  $padding-left-right: 5px
  padding-left:  $padding-left-right
  padding-right: $padding-left-right

$toolbar_height: 60px
$toolbar_shadow_height: 4px

.toolbar-placeholder
  height: $toolbar_height + $toolbar_shadow_height

.plus_btn
  position: fixed
  bottom: 20px
  right: 10px

.logo
  margin-right: 30px

$formula_margin-top-bottom: 9px

.content
  padding-top: 20px - $formula_margin-top-bottom

#virtual_keyboard
  position: fixed
  top: $toolbar_height + $toolbar_shadow_height + 30px
  right: 18px

  $padding-top-bottom: 8px
  padding-top:    $padding-top-bottom
  padding-bottom: $padding-top-bottom

  $padding-left-right: 5px
  padding-left:  $padding-left-right
  padding-right: $padding-left-right

.connective_btn
  min-width: 43px

.tarski_symbol_btn
  text-transform: none

#connective_btns
  // Adjust left margin w/ table content
  margin-left: 3px

.formula
  margin-bottom: $formula_margin-top-bottom
  margin-top:    $formula_margin-top-bottom

  $margin-left-right: 15px
  margin-left:  $margin-left-right
  margin-right: $margin-left-right

$step_btn_margin-left-right: 7px

.step_btn
  margin-left:  $step_btn_margin-left-right
  margin-right: $step_btn_margin-left-right

.step_btns_positioner
  position: relative

  $step_btns_order: 2
  order: $step_btns_order

.step_btns
  position: absolute

  $step_btn_height: 40px
  top: -$step_btn_height / 2

  // Fix mouse moving over stuff between btns
  z-index: 1

.step_speed_dial
  z-index: auto

.candidate
  color: $candidate_color

#action_bar .md-button
  min-width: 60px

.highlighted
  // Copy of MD focused btn style
  background-color: #ebebeb
  +border-radius(3px)

  padding: 8px

#github-link
  // Img has bottom padding; balance that.
  padding-top: 5px

md-input-container .md-input.formula_input
  width: 160px

// Fix that Chrome doesn't interpret font weight 500 as bold
.md-title
  font-weight: 600
