// Based on http://thecodeplayer.com/walkthrough/css3-family-tree

=width($kw)
  @if $kw == max-content
    width: intrinsic
    width: -moz-max-content
    width: -webkit-max-content

=border-radius($r)
  border-radius: $r
  -webkit-border-radius: $r
  -moz-border-radius: $r

$border: 1px solid black
$line_height: 25px

.tree
  *
    margin: 0
    padding: 0

  ul
    padding-top: $line_height
    position: relative

  li
    float: left
    list-style-type: none
    position: relative
    padding: $line_height 5px 0 5px

    .node
      margin-left:  auto
      margin-right: auto
      +width(max-content)

    &::before
      content: ''
      position: absolute
      top: 0
      right: 50%
      border-top: $border
      width: 50%
      height: $line_height

    &::after
      content: ''
      position: absolute
      top: 0
      right: 50%
      border-top: $border
      width: 50%
      height: $line_height
      right: auto
      left: 50%
      border-left: $border

    &:only-child
      &::after, &::before
        display: none

      padding-top: 0

    &:first-child::before
      border: 0 none

    &:last-child
      &::after
        border: 0 none

      &::before
        border-right: $border
        +border-radius(0 5px 0 0)

    &:first-child::after
      +border-radius(5px 0 0 0)

  ul ul::before
    content: ''
    position: absolute
    top: 0
    left: 50%
    border-left: $border
    width: 0
    height: $line_height
