<!DOCTYPE html>
<html ng-app="ruzsa"
      ng-controller="treeController">

<head>
<meta charset="UTF-8">
<script src="js/bundle.js"></script>
<link rel="stylesheet" href="stylesheets/bundle.css">
<link rel="shortcut icon" href="img/favicon.png">
<title>Untitled.tree – Ruzsa</title>  <!-- Will be updated in a watch, so that browsers won't save
                                           the unprocessed Angular double-curly binding. -->
</head>

<body ng-cloak>
<md-toolbar md-whiteframe="4" class="toolbar">
    <div class="md-toolbar-tools">
        <md-button ng-click="setInitialStateWithConfirm()" aria-label="RUZSA" id="logo_btn">
            <img src="img/ruzsa-logo.png" class="logo"></img><sup ng-show="isRunningVersionTesting"><i class="mdi mdi-test-tube"></i></sup>
        </md-button>
        <div id="action_bar">
            <!-- Has to be an anchor element with the script in its href,
                 otherwise click won't be triggered. -->
            <a href="javascript:document.getElementById('file_input').click();">
                <md-button>
                    <i class="material-icons">&#xE2C8;</i> <span class="tool_title">{{'OPEN' | translate}}</span>
                </md-button>
            </a>

            <input type="file" id="file_input" style="display:none"
                   onchange="angular.element(this).scope().loadFile(this.files)">  <!-- ng-change doesn't support file inputs -->
            <md-button ng-disabled="!unsavedDataPresent"
                       ng-click="save()">
                <i class="material-icons">&#xE161;</i> <span class="tool_title">{{'SAVE' | translate}}</span>
            </md-button>
            <md-button ng-disabled="!BDStepInProgress"
                       ng-click="checkStep()">
                <i class="material-icons">&#xE5CA;</i> <span class="tool_title">{{'CHECK_STEP' | translate}}</span>
            </md-button>
            <md-button ng-disabled="!undoStepPossible"
                       ng-click="undoStep()">
                <i class="material-icons">&#xE166;</i> <span class="tool_title">{{'UNDO' | translate}}</span>
            </md-button>
            <md-button class="plus_btn_tool"
                       ng-click="addLeaves()">
                <i class="material-icons">&#xE145;</i> <span class="tool_title">{{'ADD' | translate}}</span>
            </md-button>
        </div>
        <span flex></span>
        <md-button href="https://github.com/tbitai/ruzsa/issues">
            <i class="material-icons">&#xE868;</i> <span class="tool_title">{{'ISSUES' | translate}}</span>
        </md-button>
        <md-button href="https://github.com/tbitai/ruzsa">
            <img src="img/icons/GitHub-Mark-Light-32px.png" height="26" id="github-logo"></img> <span class="tool_title">{{'CODE' | translate}}</span>
        </md-button>
        <md-button ng-click="swapLanguage()" id="lang_swapper">
            <i class=material-icons>&#xE894;</i> <span class="tool_title">{{'OTHER_LANGUAGE' | translate}}</span><span class="tool_title_abbr">{{'OTHER_LANGUAGE_ABBR' | translate}}</span>
        </md-button>
    </div>
</md-toolbar>
<div class="toolbar-placeholder"></div>

<md-content class="content">
<div class="tree">
<ul>
    <li sf-treepeat="node in children of treeData">
        <div ng-switch="node.underEdit"
             class="node">
            <form ng-switch-when="true"
                  ng-submit="submit(node)">
                <md-input-container>
                    <input type="text"
                           aria-label="{{'INPUT' | translate}}"
                           ng-class="{formula_input: true,
                                      in_focus_q: node.inFocusQ}"
                           ng-model="node.input"
                           onfocus="makeActive(this)"
                           oninput="checkCommaAndParenthesis(this)"
                           data-ruzsa-focus-order="{{node.focusOrder}}">
                    <div ng-messages="node.error" role="alert" md-auto-hide="false">
                        <div ng-message="unmatchedParenthesis">Unmatched parenthesis!</div>
                        <div ng-message="other">Not a sentence!</div>
                    </div>
                </md-input-container>
            </form>
            <md-fab-speed-dial ng-switch-default
                               class="bd_step_speed_dial"
                               md-direction="right"
                               ng-mouseenter="node.hovered = true"
                               ng-mouseleave="node.hovered = false">
                <md-fab-trigger>
                    <div ng-click="node.editable ? setUnderEdit(node) : {}"
                         ng-class="{formula: true,
                                    candidate: node.candidate,
                                    highlighted: node.underBreakingDown,
                                    broken_down: node.brokenDown}">
                        {{node.formula.unicode}}
                    </div>
                </md-fab-trigger>
                <div class="bd_step_btns_positioner">
                <md-fab-actions ng-show="!node.brokenDown && node.hovered"
                                class="bd_step_btns">
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('or', node)"
                               aria-label="{{'BRANCH' | translate}}">
                        <md-icon md-svg-src="img/icons/or.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('and', node)"
                               aria-label="{{'ADD_TWO_NODES' | translate}}">
                        <md-icon md-svg-src="img/icons/and.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('equi', node)"
                               aria-label="{{'BRANCH_ETC' | translate}}">
                        <md-icon md-svg-src="img/icons/equi.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('double_not', node)"
                               aria-label="{{'ADD_ONE_NODE' | translate}}">
                        <md-icon md-svg-src="img/icons/double_not.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
                </div>
            </md-fab-speed-dial>
        </div>
        <ul ng-class="{continuation_candidate: node.underContinuation}">
            <li sf-treecurse></li>
        </ul>
    </li>
</ul>
</div>
<div id="virtual_keyboard" md-whiteframe="4">
    <div class="small_vkb_btns">
        <md-button class="md-raised small_vkb_btn"
                   onclick="fireVirtualKey(' ∨ ')"
                   aria-label="{{'OR' | translate}}">∨</md-button>
        <md-button class="md-raised small_vkb_btn"
                   onclick="fireVirtualKey(' ∧ ')"
                   aria-label="{{'AND' | translate}}">∧</md-button>
        <md-button class="md-raised small_vkb_btn"
                   onclick="fireVirtualKey('¬')"
                   aria-label="{{'NOT' | translate}}">¬</md-button>
        <md-button class="md-raised small_vkb_btn"
                   onclick="fireVirtualKey(' → ')"
                   aria-label="{{'IMPLIES' | translate}}">→</md-button>
        <md-button class="md-raised small_vkb_btn"
                   onclick="fireVirtualKey(' ↔ ')"
                   aria-label="{{'EQUIVALENT' | translate}}">↔</md-button>
    </div>
    <div class="small_vkb_btns">
      <md-button class="md-raised small_vkb_btn"
                 onclick="fireVirtualKey('∀')"
                 aria-label="{{'FOR_ALL' | translate}}">∀</md-button>
      <md-button class="md-raised small_vkb_btn"
                 onclick="fireVirtualKey('∃')"
                 aria-label="{{'EXISTS' | translate}}">∃</md-button>
      <md-button class="md-raised small_vkb_btn"
                 onclick="fireVirtualKey(' = ')"
                 aria-label="{{'EQUALS' | translate}}">=</md-button>
      <md-button class="md-raised small_vkb_btn"
                 onclick="fireVirtualKey(' ≠ ')"
                 aria-label="{{'NOT_EQUALS' | translate}}">≠</md-button>
      <md-button class="md-raised small_vkb_btn"
                 onclick="fireVirtualKey('*')"
                 aria-label="{{'FALSE' | translate}}">*</md-button>
    </div>
    <table>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Tet()', -1)">Tet</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Small()', -1)">Small</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Smaller(, )', -3)">Smaller</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Cube()', -1)">Cube</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Medium()', -1)">Medium</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameSize(, )', -3)">SameSize</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Dodec()', -1)">Dodec</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Large()', -1)">Large</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Larger(, )', -3)">Larger</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Adjoins(, )', -3)">Adjoins</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('BackOf(, )', -3)">BackOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameShape(, )', -3)">SameShape</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('LeftOf(, )', -3)">LeftOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('Between(, , )', -5)">Between</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('RightOf(, )', -3)">RightOf</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameCol(, )', -3)">SameCol</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('FrontOf(, )', -3)">FrontOf</md-button>
            </td>
            <td>
                <md-button class="md-raised tarski_symbol_btn" onclick="fireVirtualKey('SameRow(, )', -3)">SameRow</md-button>
            </td>
        </tr>
    </table>
</div>
<md-button class="md-fab plus_btn"
           ng-click="addLeaves()"
           aria-label="{{'ADD' | translate}}">
    <md-icon md-svg-src="img/icons/ic_add_black_24px.svg"></md-icon>
</md-button>
</md-content>

<script>
    window.onbeforeunload = function() {
        var sc = angular.element(document.body).scope();
        if (sc.unsavedDataPresent) {
            return sc.windowUnloadConfirmUnsaved;
        }
        return undefined;
    };
</script>

<!-- Piwik -->
<script type="text/javascript">
  if (location.hostname !== 'localhost') {
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.tbitai.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
  }
</script>
<!-- Don't track non-JS visits.
    <noscript><p><img src="//piwik.tbitai.me/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
-->
<!-- End Piwik Code -->
</body>

</html>
