<!DOCTYPE html>
<html ng-app="ruzsa"
      ng-controller="treeController">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="bundle.js"></script>
<link rel="stylesheet" href="bundle.css">
<link rel="icon" type="image/png" href="img/R_16x16.png">
<link rel="apple-touch-icon" href="img/R_192x192.png">
<title>Untitled.tree – Ruzsa</title>  <!-- Will be updated in a watch, so that browsers won't save
                                           the unprocessed Angular double-curly binding. -->
</head>

<body ng-cloak
      md-theme="{{ theme }}"
      ng-class="{'dark-theme': theme === 'dark'}">
<md-toolbar md-whiteframe="4" class="toolbar">
    <div class="md-toolbar-tools">
        <md-button ng-click="setInitialStateWithConfirm()" id="logo_btn">
            <md-tooltip>{{ 'NEW_TABLEAU' | translate }}</md-tooltip>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                 viewBox="0 0 67.756 16.346" height="20px"
                 aria-label="Ruzsa"
                 id="logo">
              <g fill="currentColor" stroke-width=".26458">
                <path d="m12.169 16.211h-3.635l-3.1383-5.9605h-2.2578v5.9605h-3.1383v-12.621q0-1.8062 0.83538-2.619
                         0.83538-0.83538 2.7996-0.83538h2.6642q2.3932 0 3.7931 1.4676 1.4224 1.445 1.4224 3.6802 0
                         1.6256-0.85796 2.8222-0.83538 1.174-2.0772 1.6256zm-6.0734-8.5796q0.99342 0 1.6256-0.67733
                         0.65476-0.69991 0.65476-1.7159 0-1.0386-0.63218-1.6708-0.6096-0.63218-1.6482-0.63218h-1.5579q-1.3998
                         0-1.3998 1.4224v3.2738z"/>
                <path d="m26.574 0.13565v10.566q0 2.619-1.7836 4.1317-1.7611 1.5127-4.3575 1.5127-2.5964
                         0-4.3801-1.5127-1.7611-1.5127-1.7611-4.1317v-10.566h3.1383v10.454q0 1.4901 0.8128 2.2352
                         0.83538 0.72249 2.19 0.72249t2.19-0.72249q0.83538-0.74507 0.83538-2.2352v-10.454z"/>
                <path d="m39.443 16.211h-8.1732q-1.2418
                         0-1.8965-0.58702-0.65476-0.58702-0.65476-1.5353t0.69991-1.9868l6.3218-9.1666h-6.5701v-2.7996h10.273v2.4836l-7.3378
                         10.792h7.3378z"/>
                <path d="m53.058 11.47q0 2.2804-1.6708 3.5899-1.6708 1.2869-4.2672 1.2869-2.0546
                         0-3.9737-1.1289-0.94827-0.58702-1.5579-1.6482-0.6096-1.0837-0.6096-2.461l2.8448-0.13547q0
                         1.2192 1.0386 1.8965t2.3029 0.67733q2.8222 0 2.8222-1.9868
                         0-1.6256-1.9191-1.9191l-2.619-0.27093q-1.9643-0.29351-3.1157-1.3998-1.1515-1.1063-1.1515-3.1835
                         0-2.0772 1.6482-3.4318 1.6482-1.3547 4.1543-1.3547 2.5287 0 4.064 1.2869 1.5353 1.2644 1.5353
                         3.2738l-2.7996 0.13547q-0.38382-1.9643-2.6416-1.9643-1.3772 0-2.1675 0.58702-0.76764
                         0.58702-0.76764 1.3998 0 0.79022 0.56444 1.2644 0.56444 0.45156 1.3998 0.56444l2.5739
                         0.27093q4.3124 0.58702 4.3124 4.651z"/>
                <path d="m67.756 16.211h-3.2738l-0.90311-2.7771h-5.3961l-0.88053
                         2.7771h-3.2738l5.1477-14.721q0.33867-0.76764 0.74507-1.0612 0.42898-0.29351
                         1.0386-0.29351t0.97084 0.27093q0.38382 0.27093 0.67733
                         1.0837zm-4.8994-5.4187-1.8965-6.3669-1.9868 6.3669z"/>
              </g>
            </svg><sup ng-show="isRunningVersionTesting">
            <!-- No codepoint for this icon, and the ligature didn't work either, so copied the SVG from
                 https://material.io/resources/icons/?icon=science&style=baseline
                 and set fill="currentColor". -->
            <svg xmlns="http://www.w3.org/2000/svg"
                 enable-background="new 0 0 24 24"
                 viewBox="0 0 24 24"
                 fill="currentColor"
                 width="18px"
                 height="18px"
                 aria-label="Test">
                <g><rect fill="none" height="24" width="24"/></g>
                <g><path d="M19.8,18.4L14,10.67V6.5l1.35-1.69C15.61,4.48,15.38,4,14.96,4H9.04C8.62,4,8.39,4.48,8.65,
                            4.81L10,6.5v4.17L4.2,18.4 C3.71,19.06,4.18,20,5,20h14C19.82,20,20.29,19.06,19.8,18.4z"/></g>
            </svg>
        </sup>
        </md-button>
        <div id="action_bar">
            <!-- Has to be an anchor element with the script in its href,
                 otherwise click won't be triggered. -->
            <a href="javascript:document.getElementById('file_input').click();">
                <md-button>
                    <md-tooltip>{{ 'OPEN' | translate }}</md-tooltip>
                    <i class="material-icons">&#xE2C8;</i> <span class="tool_title">{{'OPEN' | translate}}</span>
                </md-button>
            </a>

            <input type="file" id="file_input" style="display:none"
                   onchange="angular.element(this).scope().loadFile(this.files)">  <!-- ng-change doesn't support file inputs -->
            <md-button ng-disabled="!unsavedDataPresent || readonly"
                       ng-click="save()">
                <md-tooltip>{{ 'SAVE' | translate }}</md-tooltip>
                <i class="material-icons">&#xE161;</i> <span class="tool_title">{{'SAVE' | translate}}</span>
            </md-button>
            <md-button ng-disabled="!BDStepInProgress"
                       ng-click="checkStep()">
                <md-tooltip>{{ 'CHECK_STEP' | translate }}</md-tooltip>
                <i class="material-icons">&#xE5CA;</i> <span class="tool_title">{{'CHECK_STEP' | translate}}</span>
            </md-button>
            <md-button ng-disabled="!undoStepPossible"
                       ng-click="undoStep()">
                <md-tooltip>{{ 'UNDO' | translate }}</md-tooltip>
                <i class="material-icons">&#xE166;</i> <span class="tool_title">{{'UNDO' | translate}}</span>
            </md-button>
            <md-button ng-disabled="readonly"
                       class="plus_btn_tool"
                       ng-click="addLeaves()">
                <md-tooltip>{{ 'ADD' | translate }}</md-tooltip>
                <i class="material-icons">&#xE145;</i> <span class="tool_title">{{'ADD' | translate}}</span>
            </md-button>
        </div>
        <span flex></span>
        <div id="settings_bar">
            <md-button href="https://ruzsa.readthedocs.io{{ isRunningVersionTesting ? '/en/latest' : '' }}" target="_blank" rel="noreferrer noopener">
                <md-tooltip>{{ 'HELP' | translate }}</md-tooltip>
                <i class="material-icons">&#xE887;</i> <span class="tool_title">{{'HELP' | translate}}</span>
            </md-button>
            <md-button ng-click="toggleTheme()">
                <md-tooltip>{{ 'THEME' | translate }}</md-tooltip>
                <i class=material-icons>&#xE1AE;</i> <span class="tool_title">{{'THEME' | translate}}</span>
            </md-button>
            <md-button href="https://github.com/tbitai/ruzsa" target="_blank" rel="noreferrer noopener">
                <md-tooltip>{{ 'CODE' | translate }}</md-tooltip>

                <!-- Adapted from https://simpleicons.org/icons/github.svg -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="currentColor"
                     class="github-logo">
                    <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577
                          0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633
                          17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809
                          1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93
                          0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3
                          1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23
                          3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805
                          5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0
                          .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                </svg>

                <span class="tool_title">{{'CODE' | translate}}</span>
            </md-button>
            <md-button ng-click="toggleLanguage()" id="lang_swapper">
                <md-tooltip>{{ 'OTHER_LANGUAGE' | translate }}</md-tooltip>
                <i class=material-icons>&#xE894;</i> <span class="tool_title">{{'OTHER_LANGUAGE' | translate}}</span><span class="tool_title_abbr">{{'OTHER_LANGUAGE_ABBR' | translate}}</span>
            </md-button>
        </div>
        <div id="mobile_tools">
            <!-- Copy of the frequently used ones from the tools above. -->
            <md-button ng-disabled="!undoStepPossible"
                       ng-click="undoStep()"
                       aria-label="{{'UNDO' | translate}}"
                       id="mobile_frequent_undo_tool">
                <md-tooltip>{{ 'UNDO' | translate }}</md-tooltip>
                <i class="material-icons">&#xE166;</i>
            </md-button>
            <md-button ng-disabled="!BDStepInProgress"
                       ng-click="checkStep()"
                       aria-label="{{'CHECK_STEP' | translate}}">
                <md-tooltip>{{ 'CHECK_STEP' | translate }}</md-tooltip>
                <i class="material-icons">&#xE5CA;</i>
            </md-button>
            <md-button ng-disabled="readonly"
                       ng-click="addLeaves()"
                       aria-label="{{'ADD' | translate}}">
                <md-tooltip>{{ 'ADD' | translate }}</md-tooltip>
                <i class="material-icons">&#xE145;</i>
            </md-button>

            <md-menu>
                <md-button ng-click="$mdMenu.open()" aria-label="{{'MORE' | translate}}">
                    <md-tooltip>{{ 'MORE' | translate }}</md-tooltip>
                    <i class="material-icons">&#xe5d4;</i>
                </md-button>
                <!-- Copy of the tools above, but without .tool_title -->
                <md-menu-content width="4">
                    <md-menu-item>
                        <!-- Has to be an anchor element with the script in its href,
                             otherwise click won't be triggered. -->
                        <md-button href="javascript:document.getElementById('file_input').click();">
                            <i class="material-icons">&#xE2C8;</i> {{ 'OPEN' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!unsavedDataPresent || readonly"
                                   ng-click="save()">
                            <i class="material-icons">&#xE161;</i> {{ 'SAVE' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!BDStepInProgress"
                                   ng-click="checkStep()">
                            <i class="material-icons">&#xE5CA;</i> {{ 'CHECK_STEP' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!undoStepPossible"
                                   ng-click="undoStep()">
                            <i class="material-icons">&#xE166;</i> {{ 'UNDO' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="readonly"
                                   ng-click="addLeaves()">
                            <i class="material-icons">&#xE145;</i> {{ 'ADD' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button href="https://ruzsa.readthedocs.io{{ isRunningVersionTesting ? '/en/latest' : '' }}"
                                   target="_blank" rel="noreferrer noopener">
                            <i class="material-icons">&#xE887;</i> {{ 'HELP' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="toggleTheme()">
                            <i class=material-icons>&#xE1AE;</i> {{ 'THEME' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="https://github.com/tbitai/ruzsa" target="_blank" rel="noreferrer noopener">
                            <!-- Adapted from https://simpleicons.org/icons/github.svg -->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 fill="currentColor"
                                 class="github-logo">
                                <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577
                                         0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633
                                         17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809
                                         1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93
                                         0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3
                                         1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23
                                         3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805
                                         5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0
                                         .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                            </svg>

                            {{ 'CODE' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="toggleLanguage()">
                            <i class=material-icons>&#xE894;</i> {{ 'OTHER_LANGUAGE' | translate }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<div class="toolbar-placeholder"></div>

<md-content class="content">
<div class="tree">
<ul>
    <li sf-treepeat="node in children of treeData">
        <div ng-switch="node.underEdit"
             class="node">
            <div ng-switch-when="true">
                <form ng-submit="submit(node)">
                    <md-input-container>
                        <input type="text"
                               aria-label="{{'INPUT' | translate}}"
                               ng-class="{formula_input: true,
                                          in_focus_q: node.inFocusQ}"
                               ng-model="node.input"
                               onfocus="makeActive(this)"
                               oninput="checkCommaAndParenthesis(this)"
                               data-ruzsa-focus-order="{{node.focusOrder}}">
                        <div ng-messages="node.error" role="alert" md-auto-hide="false">
                            <div ng-message="unmatchedParenthesis">Unmatched parenthesis!</div>
                            <div ng-message="other">Not a sentence!</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <md-fab-speed-dial ng-switch-default
                               class="bd_step_speed_dial"
                               md-direction="right"
                               ng-mouseenter="node.hovered = true"
                               ng-mouseleave="node.hovered = false">
                <md-fab-trigger>
                    <div ng-click="node.editable ? setUnderEdit(node) : {}"
                         ng-class="{formula: true,
                                    candidate: node.candidate,
                                    highlighted: node.underBreakingDown,
                                    broken_down: node.brokenDown}">
                        {{node.formula.unicode}}
                    </div>
                </md-fab-trigger>
                <div class="bd_step_btns_positioner">
                <md-fab-actions ng-show="!readonly && !node.brokenDown && node.hovered"
                                class="bd_step_btns">
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('or', node)"
                               aria-label="{{'BRANCH' | translate}}">
                        <md-icon md-svg-src="img/icons/or.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('and', node)"
                               aria-label="{{'ADD_TWO_NODES' | translate}}">
                        <md-icon md-svg-src="img/icons/and.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('equi', node)"
                               aria-label="{{'BRANCH_ETC' | translate}}">
                        <md-icon md-svg-src="img/icons/equi.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini bd_step_btn"
                               ng-click="addCandidates('double_not', node)"
                               aria-label="{{'ADD_ONE_NODE' | translate}}">
                        <md-icon md-svg-src="img/icons/double_not.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
                </div>
            </md-fab-speed-dial>
        </div>
        <md-button ng-if="node.lastOrCandidate || node.lastAndCandidate"
                   ng-class="{
                     add_candidate: true,
                     add_or_candidate: node.lastOrCandidate,
                     add_and_candidate: node.lastAndCandidate
                   }"
                   ng-click="node.lastOrCandidate ? addOrCandidate(node) : addAndCandidate(node)">
            <i class="material-icons">&#xE145;</i>
        </md-button>
        <ul ng-class="{continuation_candidate: node.underContinuation}">
            <li sf-treecurse></li>
        </ul>
    </li>
</ul>
</div>
</md-content>
<div id="virtual_keyboard" md-whiteframe="4">
    <div class="small_vkb_btns">
        <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                   onclick="fireVirtualKey(' ∨ ')"
                   aria-label="{{'OR' | translate}}">∨</md-button>
        <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                   onclick="fireVirtualKey(' ∧ ')"
                   aria-label="{{'AND' | translate}}">∧</md-button>
        <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                   onclick="fireVirtualKey('¬')"
                   aria-label="{{'NOT' | translate}}">¬</md-button>
        <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                   onclick="fireVirtualKey(' → ')"
                   aria-label="{{'IMPLIES' | translate}}">→</md-button>
        <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                   onclick="fireVirtualKey(' ↔ ')"
                   aria-label="{{'EQUIVALENT' | translate}}">↔</md-button>
    </div>
    <div class="small_vkb_btns">
      <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                 onclick="fireVirtualKey('∀')"
                 aria-label="{{'FOR_ALL' | translate}}">∀</md-button>
      <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                 onclick="fireVirtualKey('∃')"
                 aria-label="{{'EXISTS' | translate}}">∃</md-button>
      <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                 onclick="fireVirtualKey(' = ')"
                 aria-label="{{'EQUALS' | translate}}">=</md-button>
      <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                 onclick="fireVirtualKey(' ≠ ')"
                 aria-label="{{'NOT_EQUALS' | translate}}">≠</md-button>
      <md-button class="md-raised md-accent md-hue-1 small_vkb_btn"
                 onclick="fireVirtualKey('*')"
                 aria-label="{{'FALSE' | translate}}">*</md-button>
    </div>
    <table ng-if="!vkbCollapsed">
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Tet()', -1)">Tet</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Small()', -1)">Small</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Smaller(, )', -3)">Smaller</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Cube()', -1)">Cube</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Medium()', -1)">Medium</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('SameSize(, )', -3)">SameSize</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Dodec()', -1)">Dodec</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Large()', -1)">Large</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Larger(, )', -3)">Larger</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Adjoins(, )', -3)">Adjoins</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('BackOf(, )', -3)">BackOf</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('SameShape(, )', -3)">SameShape</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('LeftOf(, )', -3)">LeftOf</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('Between(, , )', -5)">Between</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('RightOf(, )', -3)">RightOf</md-button>
            </td>
        </tr>
        <tr>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('SameCol(, )', -3)">SameCol</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('FrontOf(, )', -3)">FrontOf</md-button>
            </td>
            <td>
                <md-button class="md-raised md-accent md-hue-1 tarski_symbol_btn" onclick="fireVirtualKey('SameRow(, )', -3)">SameRow</md-button>
            </td>
        </tr>
    </table>
    <md-button class="md-accent vkb_expand" ng-click="vkbCollapsed = !vkbCollapsed" ng-switch="vkbCollapsed">
        <i class="material-icons" ng-switch-when="true" aria-label="{{ 'EXPAND' | translate }}">&#xe5cf;</i>
        <i class="material-icons" ng-switch-default aria-label="{{ 'COLLAPSE' | translate }}">&#xe5ce;</i>
    </md-button>
</div>
<md-button ng-disabled="readonly"
           class="md-fab plus_btn"
           ng-click="addLeaves()"
           aria-label="{{'ADD' | translate}}">
    <md-icon md-svg-src="img/icons/ic_add_black_24px.svg"></md-icon>
</md-button>
<script>
    window.onbeforeunload = function() {
        var sc = angular.element(document.body).scope();
        if (sc.unsavedDataPresent) {
            return sc.windowUnloadConfirmUnsaved;
        }
        return undefined;
    };
</script>

</body>

</html>
